/**
stylesheet for main menu
 */
.main-menu {
  position: relative;
  width: 290px;
  height: 475px;
}
.main-menu__header {
  position: relative;
  color: #888c8f;
  margin: 0 auto 80px;
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 0.84em;
  font-weight: normal;
}
.main-menu__header:before {
  content: "||";
  position: absolute;
  top: 0;
  left: 10%;
  transform: rotate(45deg);
}
.main-menu__header:after {
  content: "\20dd";
  position: absolute;
  top: 0;
  left: 90%;
  color: red;
}
