.main-menu__list {
  padding-left: 80px;
  user-select: none;
}
.main-menu__list__element {
  position: relative;
  color: #4c5255;
  list-style: none;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 1.34em;
  margin-bottom: 55px;
  cursor: pointer;
}
.main-menu__list__element:last-child {
  margin-bottom: 0;
}
.main-menu__list__element__logo {
  position: absolute;
  top: 0;
  height: 32px;
  width: 32px;
  left: -37px;
  /**
  -37(left) + 32(width) = -5 (pixels left for full covering)
   */
  padding-right: 5px;
  font-size: 0.33em;
  font-weight: normal;
  color: rgba(76, 82, 85, 0.75);
}
.main-menu__list__element__time {
  position: absolute;
  top: 1.34em;
  padding-top: 5px;
  left: 0;
  color: #c6c9cb;
  font-weight: normal;
  font-size: 0.55em;
}
.main-menu__list__element__text {
  cursor: inherit;
}